.signIn {
    margin: 100px auto;
    max-width: 1100px;
}

.promptText {
    margin-bottom: 20px;
}

.usernameInput:hover {
    border-color: palevioletred;
}

.joinBtn {
    margin-left: 10px;
}
