body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', sans-serif;
}

button, input {
  font-family: 'Roboto Mono';
  outline: none;
  border: none;
  border-radius: 3px;
  border: 1px solid #555;
  padding: 10px;
}

button:hover {
  border: 1px solid #6200EA;
}

h1 {
  position: relative;
  font-size: 36px;
  line-height: 250%;
  margin: 40px auto;
}

h1::after {
  content: '';
  width: 90px;
  height: 3px;
  background: #6200EA;
  position: absolute;
  bottom: 0;
  left: 0;
}

.app {
  margin: 25px auto;
  max-width: 900px;
}
